modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Full-Stack Dev"

[[workflows.workflow]]
name = "Full-Stack Dev"
author = 43033265
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm start"
